body {
    font-family: "europa", sans-serif;
}


.text-centered {
    text-align: center;
}

.large-text {
    font-size: 2.8em;
    margin-top: 200px;
}

.wrapper {
    width: 500px;
    margin: auto;
}

.wrapper p {
    font-size: 1.2em;
}